body{
	font-family:黑体;
	background-color:#eea;
	margin:0 auto;
	padding:0;
	border:0 ;
	-moz-border-bottom-colors:#abc;
	-moz-border-left-colors:#abc;
	-moz-border-right-colors:#abc;
	-moz-border-top-colors:#abc;
}
ul{
	list-style-type:none;	
	-moz-padding-start: 15px;
	-webkit-margin-before: 10;
	-webkit-margin-after: 0;
	-webkit-padding-start: 15;
}
img{
	cursor:pointer;
}
a{
	color:#000;
	text-decoration:none;	
}
a:link{
	color:#aa00ff;
	text-decoration:none;
}
a:hover{
	color:#f7f7aa;
	background-color:#5566dd;
}
a:visited{
	color:#550077;
}
.logo{
	width:100%;
	height:30px;
}
.center{
	border:5px;
	background-color:#dd7;
	height:100%;
}

.login{
	border:0px solid #aaa;
	padding-top:10px;
	margin:1px;
	width:200px;
	height:150px;	
	background-color:#F0E68C;
}
.login ul li {
	margin-top:3px;
	margin-bottom:3px;
	float:left;
}
.login ul li span{
	color:#992233;
}
.login ul li label{
	margin-right:10px;
}
.login ul li a{
	color:#aa00ff;
	margin-left:10px;
}
.login ul li:last-child{
	text-align:center;
	margin:0 auto;
}

.right-side{
	float:left;
	margin:10px;
	background-color:#F0E68C;
	width:70%;
}
.left-side{
	float:left;
	margin:10px;
}
.book{
	border:1px solid #F5F88F;
	float:left;
	width:210px;
	height:280px;
	margin:10px;	
}

.book img{
	float:left;
	margin:5;
}
.bookinfo{
}
.bookinfo p{
	color:#6eaa66;
	margin:0;
	
}
.bookinfo span{
	color:#e666ee;
}
.logo{
	font-size:30px;
	color:#6eaa66;
	text-align:center;
}


