body{
	font-family:黑体;
	background-color:#eea;
	margin:0 auto;
	padding:0;
	border:0 ;
	-moz-border-bottom-colors:#abc;
	-moz-border-left-colors:#abc;
	-moz-border-right-colors:#abc;
	-moz-border-top-colors:#abc;
}
ul{
	list-style-type:none;	
	-moz-padding-start: 15px;
	-webkit-margin-before: 10;
	-webkit-margin-after: 0;
	-webkit-padding-start: 15;
}
img{
	cursor:pointer;
}
a{
	color:#000;
	text-decoration:none;	
}
table{
	border:1px solid #aaa;
	border-right:0px;
	border-bottom:0px;
}
th,tr,td{
	border:1px  solid #aaa;
	border-left:0px;
	border-top:0px;
}
a:link{
	color:#aa00ff;
	text-decoration:none;
}
a:hover{
	color:#f7f7aa;
	background-color:#5566dd;
}
a:visited{
	color:#550077;
}
.logo{
	width:100%;
	height:30px;
}
.center{
	border:5px;
	background-color:#dd7;
	height:100%;
}

.login{
	border:0px solid #aaa;
	padding-top:10px;
	margin:1px;
	width:200px;
	height:150px;	
	background-color:#F0E68C;
}
.login ul li {
	margin-top:3px;
	margin-bottom:3px;
	float:left;
}
.login ul li span{
	color:#992233;
}
.login ul li label{
	margin-right:10px;
}
.login ul li a{
	color:#aa00ff;
	margin-left:10px;
}
.login ul li:last-child{
	text-align:center;
	margin:0 auto;
}
.login a{
	color:#0f6ec8;
	margin-left:5px;
}
.login a:hover{
	color:#ffccff;
	margin-left:5px;
}
.right-side{
	float:left;
	margin:10px;
	background-color:#F0E68C;	
	width:80%;
}
.left-side{
	float:left;
	margin:10px;
	width:15%;
}
.book{
	border:1px solid #F5F88F;
	float:left;
	width:220px;
	height:300px;
	margin:10px;	
}

.book img{
	float:left;
	margin:5;
}
.bookinfo {
	
}
.bookinfo p{
	color:#6eaa66;
	margin:0;
	
}
.bookinfo span{
	color:#e666ee;
}
.logo{
	font-size:30px;
	color:#6eaa66;
	text-align:center;
}

.buy{
	border:1px solid #64ac55;
	background-color:#b9ffaa;
}
.books-nav{
	background-color:#6EAA66;
	height:20px;
}
.books-nav ul li{
	float:left;
	margin-left:5px;
	margin-right:5px;
}
.panel{
	border:0px solid #aaa;
	margin:5px 1px 1px 1px;
	width:200px;
	background-color:#F0E68C;
	text-align:center;
}
.panel span{
	margin:5 0 0 0  auto;	
	padding:0;
	width:100%;
	height:20px;
	display:block;
	color:#aaa;
	background-color:#F0EE8C;
}
.panel ul li{
	width:90%;
	float:left;
}
.panel ul li{
	width:90%;
	text-align:left;
}
.panel ul li:last-child{
	clear:left;
}
.shoppingcart{
	width:100%;
	font-family:宋体;
	color:#556;
}
.shoppingcart .total-price{
	color:#ec8800;
	font-size:24px;
	font-weight:bold;
}
/* tools*/
.clear-left{
	clear:left;
}


